In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('MBA Tests.csv')

In [3]:
df.head(10)

,name,dob,phone,Email,gender,department_name,batch,degree_name,roll_no,start_time,...,general_reasoning_max_score,general_reasoning_candidate_score,general_reasoning_candidate_percentage,test_status,colleges_schools,ad_id,owner_email,lead_stage,owner,token_paid
0,Rishab Jain,NaN,8.433402e+09,rishabjain@gmail.com,NaN,admin,Batch-2,NaN,NaN,25-08-2024 12:32,...,12.0,6.5,54.17%,Completed,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
1,Kanishka Utsav,NaN,8.574006e+09,kanishkautsav@gmail.com,NaN,admin,Batch-2,NaN,NaN,07-09-2024 21:00,...,12.0,5.5,45.83%,Completed,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
2,test test,NaN,8.867742e+09,testtest@gmail.com,NaN,admin,Batch-2,NaN,NaN,07-11-2024 14:45,...,12.0,6.0,50.00%,Completed,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
3,Yashwin Kalra,NaN,9.034368e+09,yashwinkalra@gmail.com,NaN,admin,Batch-2,NaN,NaN,15-09-2024 13:02,...,12.0,7.0,58.33%,Completed,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
4,DHEERAJ JOSHI,NaN,9.669138e+09,dheerajjoshi@gmail.com,NaN,admin,Batch-2,NaN,NaN,28-10-2024 18:21,...,12.0,5.0,41.67%,Completed,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,prateeknsui94@gmail.com,NaN,admin,Batch-2,NaN,NaN,NaN,...,NaN,NaN,NaN,Not Started,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,mishravaibhav2233@gmail.com,NaN,admin,Batch-2,NaN,NaN,NaN,...,NaN,NaN,NaN,Not Started,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
7,Ruban Demo S,NaN,1.234568e+09,rubandemos@gmail.com,NaN,admin,Batch-2,BE/BTech,NaN,NaN,...,NaN,NaN,NaN,Not Started,IIT Jodhpur_MBA Technology_Batch-2,1.202124e+17,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,enggrazakhan.ahmed@gmail.com,NaN,admin,Batch-2,NaN,NaN,NaN,...,NaN,NaN,NaN,Not Started,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,chaitrak.passionate.tester@gmail.com,NaN,admin,Batch-2,BE/BTech,NaN,NaN,...,NaN,NaN,NaN,Not Started,IIT Jodhpur_MBA Technology_Batch-2,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 47 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   name                                                  153 non-null    object
 1   dob                                                   0 non-null      float64
 2   phone                                                 160 non-null    float64
 3   Email                                                 176 non-null    object
 4   gender                                                0 non-null      float64
 5   department_name                                       176 non-null    object
 6   batch                                                 176 non-null    object
 7   degree_name                                           3 non-null      object
 8   roll_no                                               0 non-null      float64
 9   start_time                                            153 non-null    object
 10  submit_time                                           153 non-null    object
 11  tabswitched                                           176 non-null    float64
 12  startip                                               153 non-null    object
 13  endip                                                 153 non-null    object
 14  browser                                               153 non-null    object
 15  os                                                    153 non-null    object
 16  proctoring_analysis                                   143 non-null    float64
 17  test_duration                                         153 non-null    object
 18  submit_type                                           153 non-null    object
 19  total_max_score                                       153 non-null    float64
 20  candidate_total_score                                 153 non-null    float64
 21  candidate_total_percentage                            153 non-null    object
 22  math_foundation_max_score                             153 non-null    float64
 23  math_foundation_candidate_score                       153 non-null    float64
 24  math_foundation_candidate_percentage                  153 non-null    object
 25  data_interpretation_max_score                         153 non-null    float64
 26  data_interpretation_candidate_score                   153 non-null    float64
 27  data_interpretation_candidate_percentage              153 non-null    object
 28  tech_and_computing_fundamentals_max_score             153 non-null    float64
 29  tech_and_computing_fundamentals_candidate_score       153 non-null    float64
 30  tech_and_computing_fundamentals_candidate_percentage  153 non-null    object
 31  verbal_reasoning_max_score                            153 non-null    float64
 32  verbal_reasoning_candidate_score                      153 non-null    float64
 33  verbal_reasoning_candidate_percentage                 153 non-null    object
 34  logical_reasoning_max_score                           153 non-null    float64
 35  logical_reasoning_candidate_score                     153 non-null    float64
 36  logical_reasoning_candidate_percentage                153 non-null    object
 37  general_reasoning_max_score                           153 non-null    float64
 38  general_reasoning_candidate_score                     153 non-null    float64
 39  general_reasoning_candidate_percentage                153 non-null    object
 40  test_status                                           176 non-null    object
 41  colleges_schools                                      176 non-null    object
 42  ad_id                                                 105 non-null    float64
 43  owner_email                                           164 non-null    object
 44  lead_stage                                            164 non-null    object
 45  owner                                                 164 non-null    object
 46  token_paid                                            87 non-null     float64
dtypes: float64(22), object(25)
memory usage: 65.1+ KB

In [5]:
df.drop(columns=['dob','gender','roll_no'],inplace=True)

In [6]:
percent_cols = [col for col in df.columns if col.endswith('percentage')]

for col in percent_cols:
    df[col] = df[col].str.replace('%', '').astype(float)

In [8]:
df['start_time'] = pd.to_datetime(df['start_time'], errors='coerce',dayfirst=True)
df['submit_time'] = pd.to_datetime(df['submit_time'], errors='coerce',dayfirst=True)

In [9]:
df['duration_minutes'] = (df['submit_time'] - df['start_time']).dt.total_seconds() / 60

In [10]:
df['phone'] = df['phone'].fillna(0).astype(int).astype(str)
df.loc[df['phone'] == '0', 'phone'] = None

In [11]:
df['Email'] = df['Email'].str.lower().str.strip()

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 45 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   name                                                  153 non-null    object
 1   phone                                                 160 non-null    object
 2   Email                                                 176 non-null    object
 3   department_name                                       176 non-null    object
 4   batch                                                 176 non-null    object
 5   degree_name                                           3 non-null      object
 6   start_time                                            153 non-null    datetime64[ns]
 7   submit_time                                           153 non-null    datetime64[ns]
 8   tabswitched                                           176 non-null    float64
 9   startip                                               153 non-null    object
 10  endip                                                 153 non-null    object
 11  browser                                               153 non-null    object
 12  os                                                    153 non-null    object
 13  proctoring_analysis                                   143 non-null    float64
 14  test_duration                                         153 non-null    object
 15  submit_type                                           153 non-null    object
 16  total_max_score                                       153 non-null    float64
 17  candidate_total_score                                 153 non-null    float64
 18  candidate_total_percentage                            153 non-null    float64
 19  math_foundation_max_score                             153 non-null    float64
 20  math_foundation_candidate_score                       153 non-null    float64
 21  math_foundation_candidate_percentage                  153 non-null    float64
 22  data_interpretation_max_score                         153 non-null    float64
 23  data_interpretation_candidate_score                   153 non-null    float64
 24  data_interpretation_candidate_percentage              153 non-null    float64
 25  tech_and_computing_fundamentals_max_score             153 non-null    float64
 26  tech_and_computing_fundamentals_candidate_score       153 non-null    float64
 27  tech_and_computing_fundamentals_candidate_percentage  153 non-null    float64
 28  verbal_reasoning_max_score                            153 non-null    float64
 29  verbal_reasoning_candidate_score                      153 non-null    float64
 30  verbal_reasoning_candidate_percentage                 153 non-null    float64
 31  logical_reasoning_max_score                           153 non-null    float64
 32  logical_reasoning_candidate_score                     153 non-null    float64
 33  logical_reasoning_candidate_percentage                153 non-null    float64
 34  general_reasoning_max_score                           153 non-null    float64
 35  general_reasoning_candidate_score                     153 non-null    float64
 36  general_reasoning_candidate_percentage                153 non-null    float64
 37  test_status                                           176 non-null    object
 38  colleges_schools                                      176 non-null    object
 39  ad_id                                                 105 non-null    float64
 40  owner_email                                           164 non-null    object
 41  lead_stage                                            164 non-null    object
 42  owner                                                 164 non-null    object
 43  token_paid                                            87 non-null     float64
 44  duration_minutes                                      153 non-null    float64
dtypes: datetime64[ns](2), float64(26), object(17)
memory usage: 62.4+ KB

In [21]:
df.isnull().sum()/df.shape[0] * 100

name                                                    13.559322
phone                                                    9.604520
Email                                                    0.564972
department_name                                          0.564972
batch                                                    0.564972
degree_name                                             98.305085
start_time                                              13.559322
submit_time                                             13.559322
tabswitched                                              0.564972
startip                                                 13.559322
endip                                                   13.559322
browser                                                 13.559322
os                                                      13.559322
proctoring_analysis                                     19.209040
test_duration                                           13.559322
submit_type                                             13.559322
total_max_score                                         13.559322
candidate_total_score                                   13.559322
candidate_total_percentage                              13.559322
math_foundation_max_score                               13.559322
math_foundation_candidate_score                         13.559322
math_foundation_candidate_percentage                    13.559322
data_interpretation_max_score                           13.559322
data_interpretation_candidate_score                     13.559322
data_interpretation_candidate_percentage                13.559322
tech_and_computing_fundamentals_max_score               13.559322
tech_and_computing_fundamentals_candidate_score         13.559322
tech_and_computing_fundamentals_candidate_percentage    13.559322
verbal_reasoning_max_score                              13.559322
verbal_reasoning_candidate_score                        13.559322
verbal_reasoning_candidate_percentage                   13.559322
logical_reasoning_max_score                             13.559322
logical_reasoning_candidate_score                       13.559322
logical_reasoning_candidate_percentage                  13.559322
general_reasoning_max_score                             13.559322
general_reasoning_candidate_score                       13.559322
general_reasoning_candidate_percentage                  13.559322
test_status                                              0.564972
colleges_schools                                         0.564972
ad_id                                                   40.677966
owner_email                                              7.344633
lead_stage                                               7.344633
owner                                                    7.344633
token_paid                                              50.847458
duration_minutes                                        13.559322
dtype: float64

In [22]:
df.drop(columns='degree_name',inplace=True)