In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('MBA Tokens.csv')

In [3]:
df

,candidate_id,candidate_name,Phone,Email,agent,token_date,token_paid,token_status,lead_source,remarks,...,start_of_the_week,cohort,ad_id,ad_set_id,city,state,manager,test_submitted_date,first_call_date,application_date
0,NaN,Alok Singh Rathore,8197875911,aloksinghrathore@gmail.com,Zoya Zamal,12-12-2024,1,Active,Facebook,NaN,...,09-12-2024,Cohort 2,1.202141e+17,1.202141e+17,NaN,Telangana,Akshit,23-12-2024 23:08,07-12-2024 12:50,23-12-2024 18:58
1,DELX-379891,Amit Munjal,9811117110,amitmunjal@gmail.com,Sangeeta Haldar,02-10-2024,1,Active,Facebook,NaN,...,30-09-2024,Cohort 2,1.202123e+17,1.202123e+17,faridabad,Haryana,Akshit,07-12-2024 22:45,21-12-2024 17:34,01-12-2024 11:11
2,DELX-237805,Kanika Gussain,9711911111,kanikagussain@gmail.com,Farakhuddin Khan,07-06-2024,1,Drop,Linkedin,NaN,...,03-06-2024,Cohort 2,NaN,NaN,NaN,NaN,Akshit,NaN,NaN,NaN
3,DELX-230782,Shubham Bisht,7610111198,shubhambisht@gmail.com,Harshita,13-06-2024,1,Active,LinkedIn,NaN,...,10-06-2024,Cohort 2,NaN,NaN,NaN,NaN,Akshit,NaN,05-11-2024 17:41,NaN
4,NaN,Gauri Shankar Soni,8101011610,gaurishankarsoni@gmail.com,Zoya Zamal,16-01-2025,1,Active,LinkedIn,NaN,...,13-01-2025,Cohort 2,1.202141e+17,1.202141e+17,NaN,NaN,Akshit,NaN,28-11-2024 13:34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,DELX-259001,Hari Prasad,9176171750,hariprasad@gmail.com,Monika Panchal,04-10-2024,1,Active,Facebook,NaN,...,30-09-2024,Cohort 2,NaN,NaN,Chennai,Tamil Nadu,Akshit,02-10-2024 19:29,04-11-2024 14:53,29-09-2024 16:33
81,BLRX-163381,Amberisch Gawaskar,7718006665,amberischgawaskar@gmail.com,Vinti,22-11-2024,1,Active,Facebook,NaN,...,18-11-2024,Cohort 2,NaN,NaN,Mumbai,Maharashtra,Akshit,20-11-2024 18:25,06-11-2024 12:04,18-11-2024 13:45
82,DELX-350024,Gaurav Das,8711071111,gauravdas@gmail.com,Akshay Manhas,02-09-2024,1,Drop,Referral Sites,NaN,...,02-09-2024,Cohort 2,NaN,NaN,Guwahati,Assam,Akshit,29-08-2024 20:15,06-11-2024 16:31,27-08-2024 12:28
83,DELX-193394,Qazi Syed Wamiq Ali,7860997761,qazisyedwamiqali@gmail.com,Akshay Manhas,20-10-2024,1,Drop,LinkedIn,NaN,...,14-10-2024,Cohort 2,NaN,NaN,New Delhi,Delhi,Akshit,17-10-2024 13:55,08-11-2024 15:52,10-10-2024 17:41
84,NaN,Keshav Agarwal,9951111711,keshavagarwal@gmail.com,Monalisa Das,04-01-2025,1,Active,LinkedIn,NaN,...,30-12-2024,Cohort 2,5.244873e+08,NaN,New Delhi,Assam,Akshit,03-01-2025 19:05,05-11-2024 12:42,31-12-2024 19:10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   candidate_id           33 non-null     object
 1   candidate_name         85 non-null     object
 2   Phone                  85 non-null     int64
 3   Email                  85 non-null     object
 4   agent                  85 non-null     object
 5   token_date             85 non-null     object
 6   token_paid             85 non-null     int64
 7   token_status           85 non-null     object
 8   lead_source            85 non-null     object
 9   remarks                0 non-null      float64
 10  lead_created_date      82 non-null     object
 11  full_payment_date      58 non-null     object
 12  Enrolled               58 non-null     object
 13  offer_letter_released  85 non-null     int64
 14  loan_one_shot          59 non-null     object
 15  utr                    58 non-null     float64
 16  interview              0 non-null      float64
 17  offer_released_date    0 non-null      float64
 18  loan_oneshot           0 non-null      float64
 19  loan_docs              0 non-null      float64
 20  start_of_the_week      85 non-null     object
 21  cohort                 85 non-null     object
 22  ad_id                  53 non-null     float64
 23  ad_set_id              37 non-null     float64
 24  city                   57 non-null     object
 25  state                  74 non-null     object
 26  manager                85 non-null     object
 27  test_submitted_date    75 non-null     object
 28  first_call_date        78 non-null     object
 29  application_date       74 non-null     object
dtypes: float64(8), int64(3), object(19)
memory usage: 20.1+ KB

In [6]:
df.drop(columns=['remarks','interview','offer_released_date','loan_oneshot','loan_docs'],inplace = True)