In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Performance Marketing leads.csv')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 11996-11997: invalid continuation byte

In [4]:
import chardet

with open("Performance Marketing leads.csv", "rb") as f:
    result = chardet.detect(f.read(6000000))  
    print(result)

{'encoding': 'MacRoman', 'confidence': 0.72951852353202, 'language': ''}

In [5]:
df = pd.read_csv('Performance Marketing leads.csv', encoding=result['encoding'])

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\614274268.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Performance Marketing leads.csv', encoding=result['encoding'])

In [6]:
df.to_csv('NewPMLeads.csv', index=False, encoding='utf-8-sig')

In [7]:
df  = pd.read_csv('NewPMLeads.csv')

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\3472262782.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df  = pd.read_csv('NewPMLeads.csv')

In [8]:
df

,lead_id,created_time,ad_id,campaign_id,form_id,form_name,platform,name,email1,phone1,...,ug_or_pg_qualification,work_experience_1,mathematics_score,owner,city,opportunity_status,opportunity_mapped,utm_term,status,max_call_duration
0,l:895118632787497,29-11-2024 12:07,1.202141e+17,1.202141e+17,f:946834734166968,MBATech_C2_Program-new_Meta_110224,ig,Gyan Sagar Singh,gyansagarsingh@gmail.com,p:11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2fdc474d-31fd-4cb3-b5e4-9c03b4841499,02-01-2025 22:04,7.213225e+11,2.191242e+10,NaN,NaN,GoogleAds,Deep Kumar,deepkumar@gmail.com,0,...,NaN,NaN,NaN,Payal Gupta,NaN,NaN,Mapped,mba degree programs,Lost,NaN
2,c3c3960a-3c19-4824-95db-bc6a5df5db86,22-12-2024 12:17,7.213225e+11,2.191242e+10,NaN,NaN,GoogleAds,Sagar Mr,sagarmr@gmail.com,1918755051,...,NaN,NaN,NaN,Akshay Manhas,NaN,NaN,Mapped,mba degree programs,Lost,NaN
3,35275acf-6604-4e85-8414-5a33d3f171e5,10-01-2025 22:28,7.213225e+11,2.191242e+10,NaN,NaN,GoogleAds,ray jyoit ray jyoit,rayjyoitrayjyoit@gmail.com,1191911911,...,NaN,NaN,NaN,Zoya Zamal,NaN,NaN,Mapped,NaN,Lost,NaN
4,bf299df5-fe65-4b4f-b906-1a318b94ea4b,03-01-2025 22:40,7.213225e+11,2.191242e+10,NaN,NaN,GoogleAds,Love Kesh,lovekesh@gmail.com,1917087969,...,NaN,NaN,NaN,Zoya Zamal,NaN,NaN,Mapped,mba degree programs,Lost,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20060,1dad7269-f65a-46fd-a76d-8600bf65c004-6,02-01-2025 14:15,5.244873e+08,3.408116e+08,10091086,MBATech_C2_Program_LinkedIn_230924,LinkedIn,Devavrat Sharma,devavratsharma@gmail.com,9001750197,...,NaN,NaN,NaN,Vinti,Jaipur,NaN,Mapped,NaN,Open,23.0
20061,l:579525214711938,02-01-2025 19:48,1.202124e+17,1.202124e+17,f:934293608524038,MBATech_C2_Program_Meta_200924,ig,Surendra Singh,surendrasingh@gmail.com,9917119585,...,NaN,NaN,NaN,Monalisa das,Meerut City,NaN,Mapped,NaN,Open,3.0
20062,l:1323141678713428,03-01-2025 13:55,1.202149e+17,1.202141e+17,f:946834734166968,MBATech_C2_Program-new_Meta_110224,ig,Poonam Jyotshi,poonamjyotshi@gmail.com,8690191769,...,NaN,NaN,NaN,Monalisa das,NaN,NaN,Mapped,NaN,Open,20.0
20063,l:1092199192404421,11-01-2025 15:35,1.202123e+17,1.202123e+17,f:934293608524038,MBATech_C2_Program_Meta_200924,ig,Lokesh Kumar,lokeshkumar@gmail.com,9871158611,...,NaN,NaN,NaN,Payal Gupta,Noida,NaN,Mapped,NaN,Open,54.0
20064,a86db647-d221-4d34-a9c7-e013258e6b6c-3,12-10-2024 02:09,5.245299e+08,3.407865e+08,10091086,MBATech_C2_Program_LinkedIn_230924,LinkedIn,Tarique Anwar,tariqueanwar@gmail.com,9861186161,...,NaN,NaN,NaN,Akshit Mittal,Ranchi,Not Interested,Mapped,NaN,Lost,28.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20065 entries, 0 to 20064
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lead_id                 20065 non-null  object
 1   created_time            20065 non-null  object
 2   ad_id                   20030 non-null  float64
 3   campaign_id             20030 non-null  float64
 4   form_id                 19883 non-null  object
 5   form_name               19883 non-null  object
 6   platform                20064 non-null  object
 7   name                    20065 non-null  object
 8   email1                  20065 non-null  object
 9   phone1                  20065 non-null  object
 10  graduation_degree       20065 non-null  object
 11  graduation_percentage   19892 non-null  object
 12  work_experience         20065 non-null  object
 13  upload_date             19883 non-null  object
 14  column15                0 non-null      float64
 15  contacted               17241 non-null  object
 16  mapped                  0 non-null      float64
 17  mapped2                 19190 non-null  object
 18  lead_stage              19190 non-null  object
 19  token_paid              57 non-null     float64
 20  Unnamed: 20             0 non-null      float64
 21  ad_set_name             0 non-null      float64
 22  ad_set_id               17923 non-null  float64
 23  first_call              17125 non-null  object
 24  outbound_calls          0 non-null      float64
 25  full_payment            0 non-null      float64
 26  test_sent               0 non-null      float64
 27  test_result             0 non-null      float64
 28  candidate_id            2133 non-null   object
 29  answered                17192 non-null  object
 30  mapped_in               0 non-null      float64
 31  lsq_created_date        19141 non-null  object
 32  last_call_date          17250 non-null  object
 33  new_cgpa                304 non-null    float64
 34  ug_or_pg_qualification  291 non-null    object
 35  work_experience_1       247 non-null    float64
 36  mathematics_score       0 non-null      float64
 37  owner                   19190 non-null  object
 38  city                    10921 non-null  object
 39  opportunity_status      6221 non-null   object
 40  opportunity_mapped      19079 non-null  object
 41  utm_term                146 non-null    object
 42  status                  19053 non-null  object
 43  max_call_duration       11615 non-null  float64
dtypes: float64(17), object(27)
memory usage: 6.7+ MB

In [ ]:
dropped_col = ['column15','mapped','Unnamed: 20','ad_set_name','outbound_calls','full_payment',
               'test_sent','test_result','mapped_in','mathematics_score']
df.drop(columns=dropped_col, inplace=True)

In [15]:
date_cols = ['created_time','upload_date','lsq_created_date','last_call_date']
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce',dayfirst = True)

In [16]:
def clean_percentage(val):
    if pd.isnull(val):
        return None
    val = str(val).strip().replace('%', '').replace('CGPA', '').replace('cgpa', '')
    try:
        return float(val)
    except:
        return None

df['graduation_percentage'] = df['graduation_percentage'].apply(clean_percentage)

In [17]:
df.duplicated(subset='lead_id').sum()

np.int64(56)

In [18]:
df.drop_duplicates(subset='lead_id', inplace=True)

In [ ]:
display(df['platform'].value_counts())
display(df['lead_stage'].value_counts())
display(df['opportunity_status'].value_counts())

platform
ig           15575
fb            2331
LinkedIn      1919
GoogleAds      182
an               1
Name: count, dtype: int64

lead_stage
Not Interested              5467
Never Picked Up             4188
Not Eligible                2676
Did Not Enquired            2234
Did Not Picked              2101
Invalid                      921
Call Back Later              527
Wrong Number                 269
Call Not Connected           258
Warm                         177
New Enquiry                   93
Future Prospect               76
Learner Drop                  37
Dropped                       25
Learner Enrolled              18
Offer Letter Released         16
Never Picked up               15
Interview Cleared              8
Invalid phone number           7
Test Scheduled                 5
Interview Scheduled            4
Duplicate Lead                 3
Test                           3
Hot                            3
Token Link Sent                2
Cold                           1
Fake                           1
Waiting for Offer Letter       1
Token paid                     1
Name: count, dtype: int64

opportunity_status
Not Interested              1796
Never Picked Up             1075
Not Eligible                 787
Did Not Enquired             586
Did Not Picked               572
Call Back Later              390
Warm                         357
Invalid                      262
New Enquiry                  205
Call Not Connected            69
Wrong Number                  64
Dropped                       13
Learner Drop                   9
Future Prospect                8
Learner Enrolled               4
Interview Scheduled            4
Test Scheduled                 4
Interview Cleared              4
Waiting for Offer Letter       3
Offer Letter Released          2
Hot                            2
Test                           1
Token Link Sent                1
Applicant                      1
Name: count, dtype: int64

In [23]:
df['platform'] = df['platform'].replace({
    'ig': 'Instagram',
    'fb': 'Facebook',
    'an': 'Unknown'
})

In [24]:
df['platform'].value_counts()

platform
Instagram    15575
Facebook      2331
LinkedIn      1919
GoogleAds      182
Unknown          1
Name: count, dtype: int64

In [27]:
df.isnull().sum()/df.shape[0] * 100

lead_id                    0.000000
created_time               0.000000
ad_id                      0.174921
campaign_id                0.174921
form_id                    0.909591
form_name                  0.909591
platform                   0.004998
name                       0.000000
email1                     0.000000
phone1                     0.000000
graduation_degree          0.000000
graduation_percentage      0.864611
work_experience            0.000000
upload_date               40.951572
contacted                 14.108651
mapped2                    4.358039
lead_stage                 4.358039
token_paid                99.715128
ad_set_id                 10.505273
first_call                14.688390
candidate_id              89.384777
answered                  14.353541
lsq_created_date          58.323754
last_call_date            14.063671
new_cgpa                  98.490679
ug_or_pg_qualification    98.555650
work_experience_1         98.775551
owner                      4.358039
city                      45.689440
opportunity_status        68.918986
opportunity_mapped         4.912789
utm_term                  99.270328
status                     5.042731
max_call_duration         42.171023
dtype: float64

In [30]:
drop_null_cols = ['token_paid','candidate_id','new_cgpa','ug_or_pg_qualification','work_experience_1','utm_term']
df.drop(columns = drop_null_cols, inplace=True)

In [33]:
df.rename(columns={
    'phone1': 'phone',
    'email1':'email'},inplace=True)

In [35]:
df.drop(columns=['opportunity_status','lsq_created_date'], inplace=True)

In [39]:
df['contacted'].unique()

array([nan, 'Contacted'], dtype=object)

In [40]:
df['contacted'].fillna('Not Contacted', inplace=True)

In [47]:
df['answered'].value_counts()

answered
Answered      8898
Unanswered    8133
unanswered      78
answered        28
Name: count, dtype: int64

In [48]:
df['answered'] = df['answered'].replace('unanswered', 'Unanswered')
df['answered'] = df['answered'].replace('answered', 'Answered')

In [54]:
mask_answered = df['answered'].isnull() & df['first_call'].notnull()
df.loc[mask_answered, 'answered'] = 'Answered'

mask_unanswered = df['answered'].isnull() & df['first_call'].isnull()
df.loc[mask_unanswered, 'answered'] = 'Unanswered'

In [55]:
df['answered'].isnull().sum()

np.int64(0)

In [61]:
df['city'].isnull().sum()

np.int64(9142)

In [62]:
df['city'].fillna('Unknown', inplace=True)

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\357195196.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['city'].fillna('Unknown', inplace=True)

In [66]:
df['opportunity_mapped'].value_counts()

opportunity_mapped
Mapped    19026
Name: count, dtype: int64

In [68]:
df['opportunity_mapped'].fillna('Not Mapped', inplace=True)

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\4200857119.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['opportunity_mapped'].fillna('Not Mapped', inplace=True)

In [71]:
df['lead_stage'].value_counts(dropna=False)

lead_stage
Not Interested              5467
Never Picked Up             4188
Not Eligible                2676
Did Not Enquired            2234
Did Not Picked              2101
Invalid                      921
NaN                          872
Call Back Later              527
Wrong Number                 269
Call Not Connected           258
Warm                         177
New Enquiry                   93
Future Prospect               76
Learner Drop                  37
Dropped                       25
Learner Enrolled              18
Offer Letter Released         16
Never Picked up               15
Interview Cleared              8
Invalid phone number           7
Test Scheduled                 5
Interview Scheduled            4
Duplicate Lead                 3
Test                           3
Hot                            3
Token Link Sent                2
Cold                           1
Fake                           1
Waiting for Offer Letter       1
Token paid                     1
Name: count, dtype: int64

In [70]:
df['status'].value_counts(dropna=False)

status
Lost    15864
Open     3119
NaN      1009
Won        17
Name: count, dtype: int64

In [72]:
lead_stage_map = {
    'Lost': [
        'Not Interested', 'Never Picked Up', 'Did Not Picked', 'Did Not Enquired',
        'Not Eligible', 'Invalid', 'Wrong Number', 'Invalid phone number',
        'Fake', 'Dropped', 'Learner Drop', 'Duplicate Lead'
    ],
    'Open': [
        'Call Back Later', 'Warm', 'New Enquiry', 'Future Prospect', 'Call Not Connected',
        'Cold', 'Waiting for Offer Letter', 'Hot'
    ],
    'Won': [
        'Learner Enrolled', 'Offer Letter Released', 'Token paid', 'Token Link Sent',
        'Interview Cleared', 'Interview Scheduled', 'Test Scheduled', 'Test'
    ]
}

def map_status(row):
    if pd.notnull(row['status']):
        return row['status']
    stage = row['lead_stage']
    if pd.isnull(stage):
        return 'Lost'
    for status, stages in lead_stage_map.items():
        if str(stage).strip().lower() in [s.lower() for s in stages]:
            return status
    return 'Lost'
df['status'] = df.apply(map_status, axis=1)

In [73]:
df['status'].value_counts(dropna=False)

status
Lost    16843
Open     3148
Won        18
Name: count, dtype: int64

In [75]:
df['mapped2'].value_counts(dropna=False)

mapped2
Mapped    19137
NaN         872
Name: count, dtype: int64

In [78]:
df['mapped2'].fillna('Not Mapped', inplace=True)

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\1899782785.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mapped2'].fillna('Not Mapped', inplace=True)

In [80]:
df.rename(columns={
    'mapped2': 'mapped'},inplace=True)

In [82]:
df['lead_stage'].value_counts(dropna=False)

lead_stage
Not Interested              5467
Never Picked Up             4188
Not Eligible                2676
Did Not Enquired            2234
Did Not Picked              2101
Invalid                      921
NaN                          872
Call Back Later              527
Wrong Number                 269
Call Not Connected           258
Warm                         177
New Enquiry                   93
Future Prospect               76
Learner Drop                  37
Dropped                       25
Learner Enrolled              18
Offer Letter Released         16
Never Picked up               15
Interview Cleared              8
Invalid phone number           7
Test Scheduled                 5
Interview Scheduled            4
Duplicate Lead                 3
Test                           3
Hot                            3
Token Link Sent                2
Cold                           1
Fake                           1
Waiting for Offer Letter       1
Token paid                     1
Name: count, dtype: int64

In [83]:
df['lead_stage'].fillna('Invalid',inplace=True)

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\3004834486.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['lead_stage'].fillna('Invalid',inplace=True)

In [84]:
df['owner'].fillna('Not Assigned', inplace=True)

C:\Users\mehta\AppData\Local\Temp\ipykernel_19244\3958497433.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['owner'].fillna('Not Assigned', inplace=True)

In [85]:
df.isnull().sum()/df.shape[0] * 100

lead_id                   0.000000
created_time              0.000000
ad_id                     0.174921
campaign_id               0.174921
form_id                   0.909591
form_name                 0.909591
platform                  0.004998
name                      0.000000
email                     0.000000
phone                     0.000000
graduation_degree         0.000000
graduation_percentage     0.864611
work_experience           0.000000
upload_date              40.951572
contacted                 0.000000
mapped                    0.000000
lead_stage                0.000000
ad_set_id                10.505273
first_call               14.688390
answered                  0.000000
last_call_date           14.063671
owner                     0.000000
city                      0.000000
opportunity_mapped        0.000000
status                    0.000000
max_call_duration        42.171023
dtype: float64